* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: block;
    width: 600px;
    padding: 30px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}



/******** table ***********/

table {
    margin: 20px 0;
    width: 400px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th,
td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px;
}

th:last-of-type,
td:last-of-type {
    border-right: none;
}

tr:last-of-type td {
    border-bottom: none;
}

tr:nth-of-type(2n) td:nth-of-type(2n - 1) {
    background: lightgreen;
}

tr:nth-of-type(2n - 1) td:nth-of-type(2n) {
    background: lightblue;
}

th {
    background: lightgrey;
}

/*********** display: table **********/
.table {
    width: 400px;
}

.title {
    width: 100%;
    text-align: center;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    flex-direction: row;
}

.row-1 {
    background-color: lightgrey;
    border-top: 1px solid #ccc;
}

.row-2, .row-3, .row-4 {
    border-top: 1px solid #ccc;
}

.row-4 {
    border-bottom: 1px solid #ccc;
}

.head-1, .head-2, .head-3, .head-4 {
    display: flex;
    width: 99px;
    height: 29px;
    font-weight: bold;
    border-left: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

.head-4, .cell-4 {
    border-right: 1px solid #ccc;
}

.cell-1, .cell-2, .cell-3, .cell-4 {
    display: flex;
    width: 99px;
    height: 29px;
    align-items: center;
    padding-left: 5px;
    border-left: 1px solid #ccc;
}

.row-2 .cell-1,
.row-2 .cell-3,
.row-4 .cell-1,
.row-4 .cell-3 {
    background-color: lightgreen;
}

.row-3 .cell-2,
.row-3 .cell-4 {
    background-color: lightblue;
}